* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #5E9DA1;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #EE4111;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/x1o3/dotfiles/wlogout/lock.png"), url("/home/x1o3/dotflies/wlogout/lock.png"));
}

#logout {
    background-image: image(url("/home/x1o3/dotfiles/wlogout/logout.png"), url("/home/x1o3/dotfiles/wlogout/logout.png"));
}

#suspend {
    background-image: image(url("/home/x1o3/dotfiles/wlogout/pause.png"), url("/home/x1o3/dotfiles/wlogout/pause.png"));
}

#hibernate {
    background-image: image(url("/home/x1o3/dotfiles/wlogout/minus.png"), url("/home/x1o3/dotfiles/wlogout/minus.png"));
}

#shutdown {
    background-image: image(url("/home/x1o3/dotfiles/wlogout/power.png"), url("/home/x1o3/dotfiles/wlogout/power.png"));
}

#reboot {
    background-image: image(url("/home/x1o3/dotfiles/wlogout/reboot.png"), url("/home/x1o3/dotfiles/wlogout/reboot.png"));
}
